@charset "UTF-8";
@charset 'iso-8859-15';
*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
}


a {
  text-decoration: none;
}


figure {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: 395px;
  padding: 20px 20px;
  background-image: url("/img/uaemlogo.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
}
figure:before, figure:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
figure:before {
  content: "";
  background-color: rgba(0, 0, 0, 0.1);
    
  z-index: 0;
}
figure:after {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
}
 figure:hover {
  background-size: 175%;
}
.asistencia figure:hover:after{
  content: "\1f5f9";
    background-color: #958419;
  color: white;
  font-size: 72px;
  z-index: 2;
}
.empleado figure:hover:after{
  content: "✚";
  background-color: #958419;
  color: white;
  font-size: 72px;
  z-index: 2;
}
.horario figure:hover:after{
  content:"\1f551" ;
  background-color: #958419;
  color: white;
  font-size: 72px;
  z-index: 2;
}
.cempleado figure:hover:after{
  content: "\1f4c5" ;
  background-color: #958419;
  color: white;
  font-size: 72px;
  z-index: 2;
}

   
  
}
figure:hover .date {
  bottom: -59px;
}
figure:hover figcaption {
  transform: translateY(-110%);
}

figure figcaption {
  color: white;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  z-index: 1;
}
figure figcaption h4 {
  text-align: center;
  margin: 0 0 5px;
  font-family: "Source Code Pro", sans-serif;
  font-size: 24px;
  line-height: 1.35;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
}
figure figcaption h4 > span {
  background-color: #958419;
}
figure figcaption p {
  margin: 0;
  line-height: 1.5;
}
@media screen and (max-width 400px){
     .horario a figure figcaption{
        min-width: auto;
    }
}