body {
    background: #ffffff;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.custom-select {
    position: relative;
    font-family: Arial;
}

.custom-select select {
    display: none; /*hide original SELECT element:*/
}

.select-selected {
    background-color: #3e8f3e;
}


/*style the arrow inside the select element:*/
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 5px;
    width: 0px;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}

/*style items (options):*/
.select-items {
    position: absolute;
    background-color: #3e8f3e;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

h3{
    text-align: justify;
}
/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.barra-lateral {
    background: #2b5233;
    color: #ffffff;
    min-width: 300px;
    min-height: 100vh;
    padding: 0;
}
.btn-material {
    padding: 0 16px;
    margin-top: 25px;
    border-radius: 40px;
    background-color: #018786;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: background-color 15ms linear,
    box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    height: 36px;
    line-height: 2.25rem;
    font-family: Roboto, sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.btn-material:hover, .btn-material:focus {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
    0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: #3e8f3e;
}
.btn-material:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
    background-color: #61b4b3;
}
.barra-lateral a {
    color: #ffffff;
}
.logo-img {
    max-width: 300px;
}
.barra-lateral .logo {
    background: #3e8f3e;
    margin-bottom: 2px;
}
.barra-lateral .logo h2 {
    font-size: 30px;
    padding: 20px 0;
    text-align: center;
    font-weight: 300;
    margin: 0;
}

.barra-lateral .menu a {
    display: block;
    color: #ffffff;
    padding: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.barra-lateral .menu a:hover {
    background: #3e8f3e;
    text-decoration: none;
}

.barra-lateral .menu a i {
    margin-right: 20px;
    font-weight: normal;
}

main {
    background: white;
}

form input[type="text"] {
    font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
    border-radius: 40px;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
    font-weight: 400;

}

@media screen and (max-width: 400px) {
    .bloque {
        min-width: auto;
    }
    .menu{
        display: inline-block;
        width: 100%;
    }

}
[type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
    padding: 3px 5px;

}
[type="date"]::-webkit-inner-spin-button {
    display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

/* custom styles */
