
.icon-home:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-user-add:before { content: '\e802'; } /* '' */
.icon-eye:before { content: '\e803'; } /* '' */
.icon-home-outline:before { content: '\e804'; } /* '' */
.icon-users:before { content: '\e805'; } /* '' */
.icon-calendar:before { content: '\e806'; } /* '' */
.icon-calendar-1:before { content: '\e807'; } /* '' */
.icon-search-1:before { content: '\e808'; } /* '' */
.icon-trash-empty:before { content: '\e809'; } /* '' */
.icon-plus:before { content: '\e80a'; } /* '' */
.icon-edit:before { content: '\e80b'; } /* '' */
.icon-history:before { content: '\f1da'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-calendar-plus-o:before { content: '\f271'; } /* '' */
.icon-calendar-check-o:before { content: '\f274'; } /* '' */
.icon-address-card:before { content: '\f2bb'; } /* '' */
.icon-user-add-outline:before { content: '\e800x'; } /* '' */