/*   
Theme Name: FreshLook
Description: FreshLook is a Premium Wordpress Theme with a unique design and fully CMS features.&nbsp;&nbsp;<strong>DesignareThemes:</strong> <a href="http://www.facebook.com/DesignareThemes">Facebook</a>&nbsp;|&nbsp;<a href="http://www.twitter.com/DesignareThemes">Twitter</a>&nbsp;|&nbsp;<a href="http://support.designarethemes.com">Theme Support</a>
Author: DesignareThemes
Author URI: http://designarethemes.com
Version: 2.0
Theme URI:
License:
License URI:
*/

body > .default_container{
	position: absolute;
	top: 0px;
	width: 100%;
	font-family: Helvetica, Arial;
	font-size: 15px;
	color: #000000;
}
.everything{width: 100%;top: 0;position: relative; float: left;}
/* GENERAL */
img.loaded{
	opacity: 1;
	filter:alpha(opacity=100);
	transition: all .5s ease;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
}
.info_above_menu_left a, .info_above_menu_right a{
	color: #999;font-size: 11px;
}
.info_above_menu{
	width: 100%; background: #154D23; font-size: 11px; font-family: Helvetica Neue, Arial;  color: #999; opacity: 0; filter: alpha(opacity=0);
}
.info_above_menu_left{
	background: #154D23; font-size: 11px; font-family: Helvetica Neue, Arial; color: #999;line-height: 40px;
}
.info_above_menu_right{
	background: #154D23; font-size: 11px; font-family: Helvetica Neue, Arial; color: #999;float: right; line-height: 40px; text-align: right;
}
#lang_sel ul ul a{background: white;float: right;border-width: 0 1px 1px 1px;padding: 10px 10px !important;}
x#lang_sel li{width: auto !important;}
#lang_sel ul ul{border-top: none !important;}
#lang_sel ul ul a:hover{background: #ededed; color: #444 !important;}

#lang_sel{
	float: right;
	z-index: 999999;
	position: relative;
	top: 10px;
}
#lang_sel a.lang_sel_sel{
	background: url(../img/nav-arrow-down.png) right no-repeat;
	color: #999 !important;
	border: none !important;
}

.info_above_menu_right #lang_sel{width: 100%;}
.info_above_menu_right #lang_sel > ul{width: 100%;}
.info_above_menu_right #lang_sel > ul > li{text-align: right;float: right;width: 100%;}
.info_above_menu_right #lang_sel > ul > li > ul {position: absolute;float: right;text-align: right;right: 0px;width: 100%;}
.info_above_menu_right #lang_sel > ul > li > ul > li {position: absolute;float: right;right: 0px;}

/* Load Posts*/
#plb-alp-load-posts a{
	float: right !important;
}
.p_excerpt{
	clear:both; margin-bottom: 20px; padding-top: 20px;
}
input:focus, textarea:focus{ 
	color: #868C8E;
	-webkit-box-shadow: inset #eaeaea 1px 1px 13px; 
	-moz-box-shadow: inset #eaeaea 1px 1px 13px; 
	box-shadow: inset #eaeaea 1px 1px 13px;  
	outline: 0;
}
p{
	font-family: Helvetica, Arial;
	font-size: 14px;
	color: #000000;
}
.caption-title{width: 100%; margin-bottom: 5px; font-size: 15px ; font-family: Helvetica Neue, Arial;position: relative; float: left;font-weight: bold;}
.caption-content{font-size: 12px ; font-family: Helvetica Neue, Arial;}
a{
	color: #666;
}
.logo{
	position: relative;
	float: left;
}
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter, div.aligncenter {
    display:block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float:left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float:left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}
/* BODY*/
/*
code, pre {
	display: block;
	font: 11px Consolas, "Andale Mono", Courier, "Courier New", monospace; 
	background: #f5f5f5 url(../img/pre.png) repeat;
	border: 1px solid #ccc;
	padding: 18px 20px 18px 20px;
	margin: 0 0 18px;
	line-height: 19.2px;
	overflow: auto;
	overflow-Y: hidden;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}
*/
body{
	background: white;
	font-size: 15px;
	font-family: Open Sans, Helvetica, Arial, sans-serif;
	font-weight: normal;
	line-height: 15px;
	color: #666;
}
H1,H2,H3,H4,H5,H6{
	margin: 10px 0;
	font-family: Helvetica Neue, Arial;
	
}

.more-link{display: none;}
h1{
	font-size: 22px !important;
	font-weight: bold;
	font-family: Helvetica Neue, Arial !important;
	line-height: 26px;
	color: #444;
}
.color_logo{
	color: #968411;
}
#wrapper{
	position: relative;
	float: left;
	background: white;
	width: 980px;
	padding-bottom: 40px;
	
}
.pre-style{
	-webkit-box-shadow: inset 40px 0 0 #FBFBFC, inset 41px 0 0 #ECECF0;
	-moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
	box-shadow: inset 40px 0 0 #FBFBFC, inset 41px 0 0 #ECECF0;
	padding: 8px;
	background-color: #F7F7F9;
	border: 1px solid #E1E1E8;
	margin-bottom: 20px;
}

.widget_pages{
	position: relative;
	float: left;
	margin: 20px 0;
	width: 100%;
}
.widget_pages li a{
	width: 100%;
	display: block;
	
}
/*
.widget_pages li a:hover{
	color: #968411;
}
.widget_pages li:hover{
	color: #968411;
}
*/
.reset_960{
	width: 960px;
	position: relative;
	float: left;
	background: white;
	z-index: 1003;
	overflow: hidden;
}
.slides_column{
	margin-top: 10px;
}
.page_title_s4{
	border-bottom: 1px solid #EDEDED;
	color: #444;
	padding-bottom: 10px;
}
/* HEADER */
#slider_container{
	position: relative;
	margin-top: 0;
	left: 0px;
	width: 100%;
	height: 200px;
	overflow: hidden;
	background: #ededed;
}
.project_open_s3 .page_info_title_s3{
	border-bottom: none !important;
}
#header_bg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
h2.page_title{
	font-size: 34px;
	font-family: Helvetica Neue, Open Sans, Arial;
	font-weight: bold;
	color: #444;
}
.p_title{
	font-family: Helvetica Neue, Arial;
	font-size: 16px;
	margin: 0 0 0 0;
	font-weight: 800;
	color: #444;
}

#topcontrol{
	z-index: 999;
}
.pageTitle{
	position: relative;
	float: left;
	
}
.pageTitle h3{
	font-family: Helvetica Neue, Arial;
	font-weight: bold;
	margin: 42px 0;
	font-size: 18px;
	color: #444;
}
#header_bg.long{
	height: 680px;
	background: url(../img/pattern5.jpg) repeat;
}

#header_bg.short{
	height: 320px;
	background: url(../img/pattern5.jpg) repeat;
}
.entry-breadcrumb{
	font-weight: 400;
	color: #999;
	font-family: Helvetica Neue, Arial;
	border-bottom: 1px solid #ededed;
	border-top: 1px solid #ededed;
	position: relative;
	float: right;
	padding: 10px 0;
	margin: 35px 0;
}
.entry-breadcrumb p{
	font-family: Helvetica Neue, Arial;
	font-size: 11px;
	color: #999;
}
.entry-breadcrumb a{
	color: #666;
	text-decoration: none;
}
.entry-breadcrumb a:hover{
	color: #968411;
	text-decoration: none;
}
#header{
	position: relative;
	width: 970px;
	left: -5px;
	margin: 0 auto;
	z-index: 999;
	min-height: 103px;
}

#header .call_us{
	display: inline-block;
	width: auto !important;
	float: left;
	padding: 5px 12px 5px 12px;
	color: white;
	background: #0D3116;
	margin: 5px 0;
}
#header .call_us img{
	margin: 4px 9px 0 0;
	position: relative;
	float: left;
}
#header .right_corner{
	position: relative;
	float: right !important;
	overflow: hidden;
	top: 0;
	margin: 5px 0;
}

#header .social{
	display: none;
	position: relative;
	float: right;
	height: 50px;
	opacity: 0;
	filter: alpha(opacity=0);
	left: 30px;
}


#header .search_top{
	position: relative;
	float: right;
	margin-bottom: 2px;
}

#header .search_top .search_toggler{
	position: relative;
	width: 30px;
	height: 29px;
	float: right;
	background: #0D3116 url(../images/search.png) no-repeat center center;
	z-index: 2;
	cursor: pointer;
	margin-left: 4px;
	margin-bottom: 40px;
	opacity: 0;
	filter: alpha(opacity=0);
}

#header .search_top #s{
	position: relative;
	left: 7px;
	padding: 8px;
	top: -2px;
	background: black;
	border: 0 transparent;
	margin-left: 26px;
	color: #999;
	opacity: 1;
	filter:alpha(opacity=100);
	transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	-webkit-box-shadow: inset 2px 2px 5px 0px #000;
	box-shadow: inset 2px 2px 5px 0px #000;
	background: #0D3116;
}

#header .search_top #s.search_close{
	position: relative;
	padding: 8px;
	top: -2px;
	background: black;
	border: 0 transparent;
	margin-left: -103px;
	color: #999;
	opacity: 0;
	filter: alpha(opacity=0);
}


#header #searchsubmit{
	display: none;
}

.social .social_container{
	position: relative;
	float: left;
	line-height: 25px;
	text-transform: uppercase;
	color: white;
	font-family: sans-serif;
	font-size: 11px;
	padding: 0px 3px;
	background-color: #0D3116;
	overflow: hidden;
	height: 29px;
}

.social .description{
	position: relative;
	float: left;
	left: 27px;
	line-height: 31px;
	text-transform: uppercase;
	color: white;
	font-family: sans-serif;
	font-size: 11px;
	padding: 0px 3px;
	font-family: Open Sans Condensed, Arial;
	font-weight: bold;
}

.social .icon{
	width: 27px;
	height: 30px;
}

.social .facebook{ background: url(../images/social24/picons06.png) center center no-repeat; }
.social .twitter{ background: url(../images/social24/picons03.png) center center no-repeat; }
.social .forrst{ background: url(../images/social24/picons01.png) center center no-repeat; }
.social .stumble{ background: url(../images/social24/picons24.png) center center no-repeat; }
.social .flickr{ background: url(../images/social24/picons04.png) center center no-repeat; }
.social .linkedin{ background: url(../images/social24/picons11.png) center center no-repeat; }
.social .delicious{ background: url(../images/social24/picons19.png) center center no-repeat; }
.social .skype{ background: url(../images/social24/picons07.png) center center no-repeat; }
.social .digg{ background: url(../images/social24/picons08.png) center center no-repeat; }
.social .google{ background: url(../images/social24/picons09.png) center center no-repeat; }
.social .vimeo{ background: url(../images/social24/picons13.png) center center no-repeat; }
.social .picasa{ background: url(../images/social24/picons21.png) center center no-repeat; }
.social .deviantart{ background: url(../images/social24/picons22.png) center center no-repeat; }
.social .behance{ xbackground: url(../images/social24/picons22.png) center center no-repeat; } 
.social .myspace{ background: url(../images/social24/picons30.png) center center no-repeat; }
.social .blogger{ background: url(../images/social24/picons25.png) center center no-repeat; }
.social .zerply{ xbackground: url(../images/social24/picons15.png) center center no-repeat; } /* em falta! */
.social .wordpress{ background: url(../images/social24/picons26.png) center center no-repeat; }
.social .grooveshark{ xbackground: url(../images/social24/picons15.png) center center no-repeat; } /* em falta! */
.social .youtube{ background: url(../images/social24/picons18.png) center center no-repeat; }
.social .reddit{ xbackground: url(../images/social24/picons15.png) center center no-repeat; } /* em falta! */
.social .rss{ background: url(../images/social24/picons20.png) center center no-repeat; }
.social .soundcloud{ xbackground: url(../images/social24/picons15.png) center center no-repeat; }
.social .pinterest{ background: url(../images/social24/picons02.png) center center no-repeat; }

.facebook_container:hover .facebook{ background: url(../images/social24/picons06_white.png) center center no-repeat; }
.twitter_container:hover .twitter{ background: url(../images/social24/picons03_white.png) center center no-repeat; }
.forrst_container:hover .forrst{ background: url(../images/social24/picons01_white.png) center center no-repeat; }
.stumble_container:hover .stumble{ background: url(../images/social24/picons24_white.png) center center no-repeat; }
.flickr_container:hover .flickr{ background: url(../images/social24/picons04_white.png) center center no-repeat; }
.linkedin_container:hover .linkedin{ background: url(../images/social24/picons11_white.png) center center no-repeat; }
.delicious_container:hover .delicious{ background: url(../images/social24/picons19_white.png) center center no-repeat; }
.skype_container:hover .skype{ background: url(../images/social24/picons07_white.png) center center no-repeat; }
.digg_container:hover .digg{ background: url(../images/social24/picons08_white.png) center center no-repeat; }
.google_container:hover .google{ background: url(../images/social24/picons09_white.png) center center no-repeat; }
.vimeo_container:hover .vimeo{ background: url(../images/social24/picons13_white.png) center center no-repeat; }
.picasa_container:hover .picasa{ background: url(../images/social24/picons21_white.png) center center no-repeat; }
.deviantart_container:hover .deviantart{ background: url(../images/social24/picons22_white.png) center center no-repeat; }
.behance_container:hover .behance{ xbackground: url(../images/social24/picons22_white.png) center center no-repeat; } 
.myspace_container:hover .myspace{ background: url(../images/social24/picons30_white.png) center center no-repeat; }
.blogger_container:hover .blogger{ background: url(../images/social24/picons25_white.png) center center no-repeat; }
.zerply_container:hover .zerply{ xbackground: url(../images/social24/picons15_white.png) center center no-repeat; } /* em falta! */
.wordpress_container:hover .wordpress{ background: url(../images/social24/picons26_white.png) center center no-repeat; }
.grooveshark_container:hover .grooveshark{ xbackground: url(../images/social24/picons15_white.png) center center no-repeat; } /* em falta! */
.youtube_container:hover .youtube{ background: url(../images/social24/picons18_white.png) center center no-repeat; }
.reddit_container:hover .reddit{ xbackground: url(../images/social24/picons15_white.png) center center no-repeat; } /* em falta! */
.rss_container:hover .rss{ background: url(../images/social24/picons20_white.png) center center no-repeat; }
.soundcloud_container:hover .soundcloud{ xbackground: url(../images/social24/picons15_white.png) center center no-repeat; }
.pinterest_container:hover .pinterest{ background: url(../images/social24/picons02_white.png) center center no-repeat; }


 /* em falta! */

.social .facebook_container:hover { background-color: #3b5998; cursor: pointer;}
.social .twitter_container:hover{ background-color: #35c9f9; cursor: pointer;}
.social .forrst_container:hover{ background-color:#62956a;cursor: pointer;}
.social .stumble_container:hover{background-color: ; cursor: pointer;}
.social .flickr_container:hover{ background-color:#ff0084; cursor: pointer;}
.social .linkedin_container:hover{ background-color: #005886; cursor: pointer;}
.social .delicious_container:hover{ background-color: ; cursor: pointer;}
.social .skype_container:hover{ background-color: #50bee3; cursor: pointer;}
.social .digg_container:hover{background-color: ;  cursor: pointer;}
.social .google_container:hover{ background-color: #d24a30; cursor: pointer;}
.social .vimeo_container:hover{  background-color: #509a99;cursor: pointer;}
.social .picasa_container:hover{ background-color: #9864ae; cursor: pointer;}
.social .deviantart_container:hover{ background-color: #a8b30e; cursor: pointer;}
.social .behance_container:hover{ background-color: ; cursor: pointer;}
.social .tumblr_container:hover{ background-color: ; cursor: pointer;}
.social .viddler_container:hover{background-color: ; cursor: pointer;} 
.social .instagram_container:hover{  background-color: ;cursor: pointer;} 
.social .myspace_container:hover{background-color: #000;cursor: pointer;}
.social .blogger_container:hover{background-color: ;cursor: pointer;}
.social .zerply_container:hover{background-color: ;cursor: pointer;} 
.social .wordpress_container:hover{ background-color: ;cursor: pointer;}
.social .grooveshark_container:hover{ background-color: ;cursor: pointer;} 
.social .youtube_container:hover{background-color: #cb322c;cursor: pointer;}
.social .reddit_container:hover{background-color: ;cursor: pointer;} 
.social .rss_container:hover{background-color: #f7771e;cursor: pointer;}
.social .soundcloud_container:hover{ background-color: ;cursor: pointer;} 
.social .pinterest_container:hover{ background-color: #cb2027;cursor: pointer;} 

header .logo_and_menu{
	position: relative;
	float: left;
	width: 100%;
	padding-left: 0px;
	background: #fff;
}

.header_container{
	position: relative;
	float: center;
	width: 100%;	
	border-top: 3px solid #444;
	min-height: 500px; /* tamaño de la parte que tiene la sombra*/
	z-index: 99999;
}

				
.slogan{
	position: relative;
	left: 36px;
	float: left;
	margin-top: 41px;
}
header #menulava{
	position: relative;
	float: right;
}
header #menulava .menu-desc{
	font-family: "Helvetica Neue", "Arial";
	font-size: 11px;
	font-weight: normal;
}

header #menulava .menuslide		{
				position:absolute;
				z-index:999;
				width:100%;
				height:62px;
				background:url(../images/menu_slide.png) top repeat-x #AC9879; /* #404041 #4d2c11 color del menu slide */
				display:none;
				margin-top:-40px;
				top:40px;
				left:0;
}

header #menulava > li{
	list-style: none;
	float: left;
	/*background: #968411;*/
	text-align: center;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

header #menulava > li.current-menu-item, header #menulava > li.current-menu-ancestor{
	border-top: 3px solid #1b9fbf;
}

header #menu{
	margin-top: -3px;
}

header #menulava > li > a{
	position: relative;
	float: left;
	padding: 40px 18px;
	color: #666;
	text-decoration: none;
	font-family: Helvetica Neue, Arial;
	font-weight: bold;
	font-size: 12px;
}

header #menulava > li.current-menu-item > a, header #menulava > li.current-menu-ancestor > a{
	color: #1b9fbf;
}

#menulava > li > a > .menu-desc{
	color: #888;
	font-weight: normal !important;	
}
.header-shadow{
	background: url(../img/header-shadow.png) no-repeat top center;
	width: 100%;
	margin: 0 auto;
	height: 41px;
	position: absolute;
	float: left;
	z-index: 9;
}
.copys_left{
	font-size: 11px;
	color: #666;
}
#footer_menu{
	position: relative;
	float: right;
}
#footer_menu li{
	position: relative;
	float: left;
	margin-right: 12px;
	border-right: 1px solid #154D23;
	padding-right: 12px;
	
}
#footer_menu li a{
	color: #666;
	font-size: 11px;
}
#footer_menu li a:hover{
	color: #fff;
}
#footer_menu li:last-child{
	border-right: none !important;
	padding-right: 0;
	margin-right: 0;
}
/* CONTENT */
#white_content{
	position: relative;
	background: white;
	/*background: #968411;*/
	width: 980px;
	margin: 0 auto;
	height: auto;
	z-index: 1;
	xmargin-top: 69px;
}

#white_content .cameraholder{
	position: relative;
	height: 33px;
	top: 33px;
}

#white_content #triangle-bottomright {
	position: relative;
	float: left;
	margin-left: -50px;
	width: 20px;
	height: 0;
}

#white_content #triangle-bottomleft #play_pause{
	position: absolute;
	width: 20px;
	height: 20px;
	top: 7px;
	right: 6px;
}

#white_content #triangle-bottomleft #play_pause.playing{
	background: url(../images/play-pause.png) no-repeat 0 0px;
}

#white_content #triangle-bottomleft #play_pause.playing:hover{
	opacity: 0.8;
}

#white_content #triangle-bottomleft #play_pause.paused{
	background: url(../images/play-pause.png) no-repeat 0px -20px;	
}

#white_content #triangle-bottomleft #play_pause.paused:hover{
	opacity: 0.8;
}

#white_content #triangle-bottomleft {
	position: absolute;
	right: 0px;
}

.white_content_arrow{
	position: relative;
	margin: 0 auto;
	z-index: 1;
	text-indent: -999999px;
	width: 100%;
	height: 5px;
	background: #f3f3f3;
}

/* LATESTS PROJECTS */
.home_widget{
	position: relative;
	width: 100%;
	float: left;
	margin-bottom: 20px;
}

.home_widget .page_title{
	position: relative;
	float: left;
	padding: 0;
	font-size: 15px;
	font-weight: bold;
	margin: 0 0 0 10px;
	border-bottom: 1px solid #EEE;
	padding-bottom: 10px;
	width: 97.5%;
}
.project_content_s4 .p_excerpt{display: none; visibility: hidden;}
.home_widget .page_title_s2, .home_widget .page_title_s3{
	position: relative;
	float: left;
	padding: 0;
	width: 100%;
}
.reset_960 .entry-content{
	margin-bottom: 0px !important;
}
.home_widget .page_info_title_s2{
	position: relative;
	float: left;
	width: 98%;
	padding-bottom: 10px;
	left: 5px;
	font-size: 13px;
	font-family: Open Sans, Arial;
	font-weight: bold;
	color: #154D23;
	border-bottom: 1px solid #ededed;
	line-height: 20px;
}

.home_widget .page_info_title_s3{
	width: 75%;
	left: 0px;
	position: relative;
	float: left;
	width: 69%;
	padding-bottom: 10px;
	font-size: 13px;
	font-family: Open Sans, Arial;
	font-weight: bold;
	color: #154D23;
	border-bottom: 1px solid #ededed;
	line-height: 13px;
}

.home_widget .arrows-proj2_s2, .home_widget .arrows-proj2_s3{
	position: relative;
	float: left;
	width: 100%;
}

.home_widget .project_open_s2 .pag-proj2_s2, .home_widget .project_open_s2 .pag-recentprojs, .home_widget .project_open_s3 .pag-recentprojs{
	position: relative;
	float: left;
	width: 100%;
	left: 5px;
}

.home_widget .project_open_s3 .pag-proj2_s3{
	position: relative;
	float: right;
}

.home_widget .project_open_s2 .pag-proj2_s2 ul.pagination, .home_widget .project_open_s2 .pag-proj2_s3 ul.pagination, .home_widget .pag-recentprojs{
	margin: 0;
}

.home_widget .project_open_s2 .pag-proj2_s2 li, .home_widget .project_open_s3 .pag-proj2_s3 li, .home_widget .pag-recentprojs li{
	list-style: none;
	float: left;
	width: 18px;
	height: 3px;
	margin-right: 4px;
}

.home_widget .project_open_s2 .pag-proj2_s2 a, .home_widget .project_open_s3 .pag-proj2_s3 a, .home_widget .pag-recentprojs a{
	background: #ABABAB;
	text-indent: -9999px;
	position: relative;
	float: left;
	width: 18px;
	height: 3px;
}

.home_widget .project_open_s2 .pag-proj2_s2 a:hover, .home_widget .project_open_s3 .pag-proj2_s3 a:hover, .home_widget .pag-recentprojs a:hover, .home_widget .project_open_s2 .pag-proj2_s2 li.current a, .home_widget .project_open_s3 .pag-proj2_s3 li.current a, .home_widget .pag-recentprojs li.current a{
	background: #565656;
}

.home_widget .project_list_s2 .slides .pagination, .home_widget .project_list_s3 .slides .pagination, .home_widget .slides_posts .pagination, .prev_slider, .next_slider{
	display: none;
}

.home_widget .pag-recentprojs .pagination{
	margin-left: 0px;
}

.divider_940{
	height: 1px;
	background: #EDEDED;
	width: 940px;
	position: absolute;
	right: 0;
	margin: 0 10px;
}

.home_widget .intro_text{
	padding-top: 20px;
}

.home_widget .projects_container{
	position: relative;
	float: left;
	width: 100%;
	margin-top: 0;
	height: auto;
}

.home_widget .projects_container .project_open{
	position: relative;
	height: auto;
	border-bottom: 2px solid #eee;
	margin-top: 30px;
	min-height: 380px;
}

.home_widget .projects_container .project_open_s2, .home_widget .projects_container .project_open_s3{
	position: relative;
	height: 270px;
}
.recentPosts .project_open_s2{
	position: relative;
	height: auto;
}
.recentPosts .the_content_text{
	position: relative;
	float: left;
	width: 100%;
	height: 80px;
	overflow: hidden;
	clear: left;
}

.recentPosts .date{
	position: relative;
	background: #154D23;
	width: auto;
	float: left;
	padding: 7px 15px 6px 15px;
	color: white;
	font-weight: bold;
	font-size: 12px;
	font-family: Helvetica Neue, Arial;
	left: -9px;
}
.projects_media .flexslider{
	height: 500px;
	overflow: hidden;
}
.project_images .flexslider{
	height: 235px;
	overflow: hidden;
}
.project_images .flexslider .slides img{
	width: 100%;
	display: block;
	height: auto;
}
.project_open .project_images{
	position: relative;
	float: left;
	width: 98%;
	background: #ededed;
	padding: 5px;
	height: 235px;
}

.project_open .project_images img{
	height: 235px;
}

.project_images .loveit{
	width: 100%;
	position: relative;
	float: left;
	padding: 10px 0;
}

.dropdown-menu{
	-webkit-appearance: none;
	padding: 12px 10px;
	outline: none;
	overflow: hidden;
	font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: white;
	font-weight: bold;
	margin: 0;
	width: 100%;
	max-width: 100%;
	background: #154D23 url('../img/navselect.gif') no-repeat 95% 11px;
	position: relative;
	left: 0;
	top: -10px;
	float: right;
}
#select-menu{
	display: none;
}


.project_open .project_content{
	position: relative;
	float: left;
	margin: 20px 0;
	width: 100%;
}
.project_open .project_content .p_excerpt{
	margin-bottom: 26px;
}
.project_open_s2 .project_content_s2{
	position: relative;
	float: left;
	margin: 20px 0;
	width: 80%;
	padding: 0;
}
.project_open_s2 .p_excerpt{margin-bottom: 15px;}
.home_widget .projects_container .project_list{
	position: relative;
	height: auto;
	margin-top: 20px;
}

.home_widget .projects_container .project_list_s2{
	position: relative;
	height: auto;
	margin-top: 10px;
}
.home_widget .projects_container .project_list_s1{
	position: relative;
	height: auto;
	margin-top: -17px;
}

/* Latests Posts */
.post-listing{
	position: relative;
	float: left;
	width: 100%;
}

/* SLIDES */
.slides{position: relative;}

.slides_container {
    width:100%;
}

.project_list .slides_container div.slides_column {
    width: 460px;
    display:block;
}

.project_list_s2 .slides_container div.slides_column {
    width: 700px;
    display:block;
}

.post-listing .slides_container div.slides_column {
    width: 960px;
    display:block;
}

.project_list .slides_container .post-thumb{
	position: relative;
	border: 3px solid #ededed; 
	width: 215px;
	float: left;
	height: 175px;
	margin-bottom: 20px;
	overflow: hidden;
}

.project_list_s2 .slides_container .post-thumb{
	position: relative;
	width: 220px;
	float: left;
	height: auto;
	margin-bottom: 20px;
	text-align: center;
	cursor: pointer;
	border-bottom: 1px solid #efefef;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.project_list_s2 .slides_container .post-thumb:hover{
	border-bottom: 1px solid #1a99b8;
}

.project_list_s2 .slides_container .p_title{
	float: left;
	width: 100%;
	margin: 0 auto;
	border-top: 4px solid transparent;
	padding: 14px 0;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	font-family: Helvetica Neue, Open Sans, Arial;
	font-weight: bold;
	font-size: 14px;
	color: #154D23;
}
.project_list_s2 .slides_container .p_title a{
	color: #154D23;
}
.project_list_s2 .slides_container .p_exerpt{
	float: left;
	width: 100%;
	margin-bottom: 20px;
}

.slides_container .post-thumb.r{
	margin-left: 17px;
}

.slides-item.post.r{
	margin-left: 20px;
}

img.camera_thumb{width: 100px;}

.post-thumb .mask{
	position: absolute;
	width: 215px;
	height: 200px;
	top: 0;
	z-index: 99;
	cursor: pointer;
}

.post-thumb .mask_plus{
	position: absolute;
	width: 215px;
	background: transparent url(http://designarethemes.com/themes/allurewp/wp-content/themes/wp-allure/img/moreinfo.png) no-repeat center center;
	height: 200px;
	top: 206px;
}
.custom-widget{
	margin: 25px 0;
	position: relative;
	float: left;
	width: 100%;
}
.custom-widget h4{
	font-size: 12px !important;
}
.custom-widget hr{
	display: none !important;
}
.entry{
	margin: 20px 0;
	position: relative;
	float: left;
	width: 100%;
}
#wrapper .entry{
	margin: 30px 0;
	position: relative;
	float: left;
}
.slides .arrows-proj{
	display: none;
}

.page_title .arrows-proj2{
	text-indent: -9999px;
	right: -70px;
	position: relative;
	margin: 0;
	top: -6px;
}
.page_info_title{margin: 0 !important;}
.page_title .arrows-proj2 a{
	text-indent: -9999px;
}
.page_title .arrows-proj2 .prev2, .nav-previous-nav1 a{
	position: relative;
	float: left;
	width: 23px;
	height: 23px;
	background: url(../img/arrows_rpstyle2.png) no-repeat;
	background-position: 0 0;
	text-indent: -9999px;
}
.page_title .arrows-proj2 .next2, .nav-next-nav1 a{
	position: relative;
	float: left;
	width: 23px;
	height: 23px;
	background: url(../img/arrows_rpstyle2.png) no-repeat;
	background-position: -27px 0;
	text-indent: -9999px;
	margin-left: 2px;
}
.page_title .arrows-proj2 .prev2:hover, .nav-previous-nav1 a:hover{
	background-position: 0 -25px;
}
.page_title .arrows-proj2 .next2:hover, .nav-next-nav1 a:hover{
	background-position: -27px -25px;
}
.projects_nav1{
	position: absolute;
	top: 33px;
	right: -10px;
	width: 7%;
}
.ch-grid {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}
#content{position: relative;}
.ch-grid:after {
	clear: both;
}

.ch-grid li {
	width: 100%;
	height: 150px;
	display: block;
}

/* PAGES */
.page .entry-title{
	margin: 20px 10px;
}
.widget{
	position: relative;
	float: left;
	margin: 15px 0 15px 0;
	width: 100%;
}

/* FOOTER */
#big_footer {
	background: #103B1B;
	width: 100%;
	font-size: 9px;
	color: #BCBCBC;
	position: relative;
	float: left;
}

#footer_content{
	position: relative;
	width: 980px;
	margin: 0 auto;
	padding: 0;
	font-family: Helvetica Neue, Arial;
	font-size: 11px;
	text-shadow: 0 1px 0 #154D23;
}
#footer_content .blogroll{position: relative; top: -10px;}
.footer-widget, #footer_content #recentPostsSidebar_widget{
	padding: 5px 0 15px 0; //se modifican las caracteristicas de la parte inferior
	position: relative;
	float: left;
	width: 100%;
	text-align: left;
	margin: 0;
}
.footer-widget h4, #footer_content #recentPostsSidebar_widget h2{
	color: white;
	font-weight: bold;
	font-size: 11px;
	margin-bottom: 25px;
	
	
}
#footer_content #recentPostsSidebar_widget .recentposts_listing a.the_title{
	color: #BCBCBC;
	font-size: 11px;
}
#footer_content #recentPostsSidebar_widget .recentposts_listing a.the_title:hover{
	color: #968411;
}

.video_frame iframe{
	width: 100%;
}
.footer-widget .widget_categories ul{
	position: relative;
	top: -10px !important;
}
.widget_categories ul{
	position: relative;
	
}
#footer_content .widget_links li, #footer_content .widget_categories li{
	border-bottom: 1px solid #154D23;
	padding: 5px 0 5px 15px;
	background: url(../img/linkswidgets.png) no-repeat left center;
	list-style: none;
	color: #999;
}
#footer_content li a, #secondary .widget_links li a, #secondary .widget_categories li a, .custom-widget li a{
	text-decoration: none;
	color: #9b9b9b;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#secondary .widget_links li, #secondary .widget_categories li, .custom-widget li{
	border-bottom: 1px solid #ededed;
	padding: 5px 0 5px 15px;
	background: url(../img/linkswidgets.png) no-repeat left center;
	list-style: none;
	color: #999;
	
}
#footer_content .widget_links li a:hover, #footer_content .widget_categories li a:hover, #secondary .widget_links li a:hover, #secondary .widget_categories li a:hover, , .custom-widget li a:hover{
	text-decoration: none;
	color: #968411;
	
}
.menu li{list-style: none;}
.menu li a{text-decoration: none;color: #9b9b9b;}
.menu li a:hover{color: #968411;}
.footer-widget hr{display: none;}
.copys{
	padding: 30px 0;
	background: #0D3116;
	position: relative;
	float: left;
	width: 100%;
}
.widget-area form#searchform label, .custom-widget form#searchform label{display: none;}
.widget-area form#searchform  input[type=text], .custom-widget form#searchform  input[type=text]{
	width: 82.5%;
	height:26px;
	border: 1px solid #ededed;
	padding:0 0 0 5px;
	font-size:11px;
	line-height:20px;
	float:left;
	font-style: italic;
}
.widget-area #searchform input#searchsubmit, .custom-widget #searchform input#searchsubmit{
	width: 13.545455%;
	height:28px;
	border: none !important;
	background: #0D3116 url(../images/search.png) no-repeat center center;
	cursor:pointer;
	float:left;
	padding:0;
	text-indent: -9999px;
}
.widget_search, .custom-widget .widget_search{
	padding: 0;
	position: relative;
	width: 100%;
	float: left;
	margin: 0;
}

#blog-rightsidebar .widget_search, .custom-widget .widget_search{
	padding: 0;
	position: relative;
	top: -20px;
	margin-bottom: 0 !important;
}
.copys_right{
	text-align: right;
}

.widget .acc-substitute h2.current, #accordion h2.current, .widget .acc-substitute h2, #accordion h2{
	width: 86.4% !important; font-size: 12px; text-transform: capitalize;
}
.widget .acc-substitute .pane, #accordion .pane{width: 87.9% !important;}
/*RECENT POSTS WIDGET*/
.recentPosts .post{
	padding-top: 0;
}
.recentPosts .post_type{
	position: relative;
	float: left;
	width: 33px;
	height: 33px;
	background: #474747;
}
.recentPosts .post .title_date{}
.recentPosts .post .title_date .title a{
	font-size: 14px;
	font-family: Helvetica, Arial;
	font-weight: 600;
	color: #154D23;
	line-height: 15px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.recentPosts .post .title_date .title{
	position: relative;
	float: left;
	xwidth: 50%;
	margin: 15px 0 5px 0;
	left: -10px;
	clear: left;
}
.recentPosts .post .title_date .title a:hover{
	color: #c39;
}
.recentPosts .readmore{
	position: relative;
	float: left;
	padding: 5px 10px;
	background: #474747;
	color: white;
	margin-top: 10px;
	cursor: pointer;
}

.recentPosts .post{
	padding-bottom: 0;
	transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	width: 480px;
}
.post_listing .slides-item .flex-direction-nav li a.next, .post_listing .slides-item .flex-direction-nav li a.prev{
	top: 62%;
	opacity: 0.5;
}
.post_listing .slides-item .flex-direction-nav li a.next:hover, .post_listing .slides-item .flex-direction-nav li a.prev:hover{
	top: 62%;
	opacity: 0.8;
}


.recentPosts .post .featured-image-thumb, .recentPosts .post .featured-image-thumb img, .recentPosts .post .featured-image-thumb a{
	position: relative;
	float: left;
	xwidth: 100%;
}
.recentPosts .post .featured-image-thumb a{
	z-index: 5;
}
.recentPosts .post .featured-image-thumb, .recentPosts .video-thumb{
	position: relative;
	float: left;
	xwidth: 45%;
	margin-right: 10px;
	margin-bottom: 10px;
}

.recentPosts .video-thumb iframe{
	position: relative;
	float: left;
	width: 100%;
	height: 100%;
	z-index: 5;
}

.recentPosts audio{
	width: 100%;
	z-index: 5;
}
.tagcloud, #twitter_update_list, #flickr{
	position: relative;
	margin: 20px 0;
}

.tagcloud a{
	font-weight: bold;
	font-family: Arial, sans-serif;
	cursor: pointer;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 8px 10px;
	background: #ededed;
	position: relative;
	float: left;
	font-size: 12px;
	color: #666;
	margin: 2px 6px 4px 0;
}
.tagcloud a:hover{
	background: #968411;
	color: #fff;

}

#twitter_update_list li{
	background: url(../img/bird.png) no-repeat left 3px;
	padding-left: 33px;
	width: 85%;
	margin-bottom: 20px;
	font-size: 11px;
	line-height: 17px;
	padding-top: 0;
	float: left;
	padding-bottom: 16px;
}
#twitter_update_list li a{margin-bottom: 10px;font-size: 11px; color: #999;}
#twitter_update_list li a:hover{color: #968411;}
#flickr li{width: 45px; height: 45px; position: relative; float: left; margin: 2px;border: 3px solid #ededed;-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;background: none !important;padding: 0;}
/* #flickr li:hover{;border: 3px solid #968411;} */
#flickr li a, #flickr li img{width: 100%; height: auto;opacity: 0.7;}
#flickr li a:hover{border-bottom: none !important;opacity: 1;}


.serviceballs{display: block;width: 90%;margin: 0 10px;}
.acc-substitute{display: none;}

#pbd-alp-load-posts a{
	color: #666;
	font-family: Helvetica Neue, Arial;
	font-weight: bold;
	padding: 10px;
	border: 1px solid #ccc;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.error-c{
	position: relative;
	float: left;
	margin: 0;
	padding: 0px;
	
	text-align: center;
}

/* 08) Contacts  ===============================================================================
   ============================================================================================= */

#contact{
	height: 550px;
	background: url(../img/sep-bottom.png) no-repeat bottom center;
}
#contact h6{
	width: 100%;
	margin-bottom: 5px;
	text-align: left;
	left: 14px;
	position: relative;
}
.loading{ 
	display:none;
	background:url(../img/loading.gif) no-repeat 1px; 
	height:66px; 
	width:66px; 
	position:absolute; 
	margin-top:-42px; 
	margin-left:417px;
}
.form span{
	padding: 15px 0 4px 0;
	position: relative;
	float: left;
	font-size: 16px;
	color: #999999;
}
.contact-form .button{
	position: relative;
	float: left;
	left: 0;
	padding: 8px 20px;
	background: #b4b4b4;
	color: #fff;
	-webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease;
	 -webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	left: 79px;
	top: 30px;
	position: relative;
	font-family: "Open Sans";
    font-weight: 600;
	line-height: 20px;
	
	
}


/* LOCALIZATION */
.location{
	position: relative;
	float: left;
	left: 20px;
	top: -41px;
	text-align: left;
}
.location h6{
	margin-left: 5px;
	position: relative;
	text-align: left;

}
.contacts{
	position: relative;
	float: left;
	width: 200px;
	top: 12px;
}
.googlemaps .mapimg{
	position: relative;
	float: left;
	background-position: 0 0;
	display: block;
	z-index: 20;
}
.googlemaps .mapimg span.hover{
	width: 425px;
	height: 201px;
	position: absolute;
	float: left;
	left: 0;
	top: 0;
	background: transparent url(../img/map_hover.png);
	background-position: 0px 0px;
	display: block;
	z-index: 999;
}


/*Social Icons*/

.socialdiv a[title]:hover:after {
  content: attr(title);
  padding: 5px 8px;
  color: #fff;
  position: absolute;
  left: 0;
  top: -120%;
  white-space: nowrap;
  z-index: 999px;
  /*
-moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
*/
  /*
-moz-box-shadow: 0px 0px 4px #666;
  -webkit-box-shadow: 0px 0px 4px #666;
  box-shadow: 0px 0px 4px #666;
*/
  background: #968411;
  text-shadow: none;
  /*
background-image: -moz-linear-gradient(top, #103B1B, #cccccc);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #103B1B),color-stop(1, #cccccc));
  background-image: -webkit-linear-gradient(top, #103B1B, #cccccc);
  background-image: -moz-linear-gradient(top, #103B1B, #cccccc);
  background-image: -ms-linear-gradient(top, #103B1B, #cccccc);
  background-image: -o-linear-gradient(top, #103B1B, #cccccc);
*/
  font-family: Helvetica Neue, Arial;
  font-size: 11px;
  font-weight: bold;
}

.socialdiv{
	position: relative;
	display: inline-block;
	text-align: center;
}
.socialdiv ul li{
	position: relative;
	float: left;
	width: 30px;
	margin-right: 8px;
}
.socialdiv ul li a{
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	margin-bottom: 5px;
}
.socialdiv a.forrst{
	width: 30px;
	height: 31px;
	background: url(../img/social-icons.png);
	background-position: -527px 0;
	display: block;

}
.socialdiv a.forrst:hover{
	background: url(../img/social-icons.png);
	background-position: -527px -32px;
}
.socialdiv a.delicious{
	width: 30px;
	height: 31px;
	background: url(../img/social-icons.png);
	background-position: -165px 0;
	display: block;

}
.socialdiv a.delicious:hover{
	background: url(../img/social-icons.png);
	background-position: -165px -32px;
}
.socialdiv a.twitter{
	width: 30px;
	height: 31px;
	background: url(../img/social-icons.png);
	background-position: -296px 0;
	display: block;

}
.socialdiv a.twitter:hover{
	background: url(../img/social-icons.png);
	background-position: -296px -32px;
}
.socialdiv a.flickr{
	width: 30px;
	height: 31px;
	background: url(../img/social-icons.png);
	background-position: -198px 0;
	display: block;

}
.socialdiv a.flickr:hover{
	background: url(../img/social-icons.png);
	background-position: -198px -32px;
}
.socialdiv a.stumble{
	width: 30px;
	height: 31px;
	background: url(../img/social-icons.png);
	background-position: -132px 0;
	display: block;

}
.socialdiv a.stumble:hover{
	background: url(../img/social-icons.png);
	background-position: -132px -32px;
}
.socialdiv a.facebook{
	width: 30px;
	height: 31px;
	background: url(../img/social-icons.png);
	background-position: -329px 0;
	display: block;

}
.socialdiv a.facebook:hover{
	background: url(../img/social-icons.png);
	background-position: -329px -32px;
}
.socialdiv a.skype{
	width: 30px;
	height: 31px;
	background: url(../img/social-icons.png);
	background-position: -395px 0;
	display: block;

}
.socialdiv a.skype:hover{
	background: url(../img/social-icons.png);
	background-position: -395px -32px;
}
.socialdiv a.digg{
	width: 30px;
	height: 31px;
	background: url(../img/social-icons.png);
	background-position: 0 0;
	display: block;

}
.socialdiv a.digg:hover{
	background: url(../img/social-icons.png);
	background-position: 0 -32px;
}
.socialdiv a.linkedin{
	width: 30px;
	height: 31px;
	background: url(../img/social-icons.png);
	background-position: -889px 0;
	display: block;

}
.socialdiv a.linkedin:hover{
	background: url(../img/social-icons.png);
	background-position: -889px -32px;
}
.socialdiv a.google{
	width: 30px;
	height: 31px;
	background: url(../img/social-icons.png);
	background-position: -99px 0;
	display: block;

}
.socialdiv a.google:hover{
	background: url(../img/social-icons.png);
	background-position: -99px -32px;
}
.socialdiv a.vimeo{
	width: 30px;
	height: 31px;
	background: url(../img/social-icons.png);
	background-position: -494px 0;
	display: block;

}
.socialdiv a.vimeo:hover{
	background: url(../img/social-icons.png);
	background-position: -494px -32px;
}

.socialdiv a.picasa{
	width: 30px;
	height: 31px;
	background: url(../img/social-icons.png);
	background-position: -626px 0;
	display: block;

}
.socialdiv a.picasa:hover{
	background: url(../img/social-icons.png);
	background-position: -626px -32px;
}
.socialdiv a.deviantart{
	width: 30px;
	height: 31px;
	background: url(../img/social-icons.png);
	background-position: -33px 0;
	display: block;

}
.socialdiv a.deviantart:hover{
	background: url(../img/social-icons.png);
	background-position: -33px -32px;
}

.socialdiv a.behance{
	width: 30px;
	height: 31px;
	background: url(../img/social-icons.png);
	background-position: -66px 0;
	display: block;

}
.socialdiv a.behance:hover{
	background: url(../img/social-icons.png);
	background-position: -66px -32px;
}
.socialdiv a.tumblr{
	width: 30px;
	height: 31px;
	background: url(../img/social-icons.png);
	background-position: -230px 0;
	display: block;

}
.socialdiv a.tumblr:hover{
	background: url(../img/social-icons.png);
	background-position: -230px -32px;
}
.socialdiv a.viddler{
	width: 30px;
	height: 31px;
	background: url(../img/social-icons.png);
	background-position: -428px 0;
	display: block;

}
.socialdiv a.viddler:hover{
	background: url(../img/social-icons.png);
	background-position: -428px -32px;
}

.socialdiv a.instagram{
	width: 30px;
	height: 31px;
	background: url(../img/social-icons.png);
	background-position: -790px 0;
	display: block;

}
.socialdiv a.instagram:hover{
	background: url(../img/social-icons.png);
	background-position: -790px -32px;
}
.socialdiv a.myspace{
	width: 30px;
	height: 31px;
	background: url(../img/social-icons.png);
	background-position: -724px 0;
	display: block;

}
.socialdiv a.myspace:hover{
	background: url(../img/social-icons.png);
	background-position: -724px -32px;
}
.socialdiv a.blogger{
	width: 30px;
	height: 31px;
	background: url(../img/social-icons.png);
	background-position: -362px 0;
	display: block;

}
.socialdiv a.blogger:hover{
	background: url(../img/social-icons.png);
	background-position: -362px -32px;
}

.socialdiv a.zerply{
	width: 30px;
	height: 31px;
	background: url(../img/social-icons.png);
	background-position: -823px 0;
	display: block;

}
.socialdiv a.zerply:hover{
	background: url(../img/social-icons.png);
	background-position: -823px -32px;
}
.socialdiv a.wordpress{
	width: 30px;
	height: 31px;
	background: url(../img/social-icons.png);
	background-position: -757px 0;
	display: block;

}
.socialdiv a.wordpress:hover{
	background: url(../img/social-icons.png);
	background-position: -757px -32px;
}
.socialdiv a.grooveshark{
	width: 30px;
	height: 31px;
	background: url(../img/social-icons.png);
	background-position: -691px 0;
	display: block;

}
.socialdiv a.grooveshark:hover{
	background: url(../img/social-icons.png);
	background-position: -691px -32px;
}
.socialdiv a.youtube{
	width: 30px;
	height: 31px;
	background: url(../img/social-icons.png);
	background-position: -659px 0;
	display: block;

}
.socialdiv a.youtube:hover{
	background: url(../img/social-icons.png);
	background-position: -659px -32px;
}

.socialdiv a.reddit{
	width: 30px;
	height: 31px;
	background: url(../img/social-icons.png);
	background-position: -560px 0;
	display: block;

}
.socialdiv a.reddit:hover{
	background: url(../img/social-icons.png);
	background-position: -560px -32px;
}
.socialdiv a.rss{
	width: 30px;
	height: 31px;
	background: url(../img/social-icons.png);
	background-position: -461px 0;
	display: block;

}
.socialdiv a.rss:hover{
	background: url(../img/social-icons.png);
	background-position: -461px -32px;
}
.socialdiv a.soundcloud{
	width: 30px;
	height: 31px;
	background: url(../img/social-icons.png);
	background-position: -263px 0;
	display: block;

}
.socialdiv a.soundcloud:hover{
	background: url(../img/social-icons.png);
	background-position: -263px -32px;
}

.socialdiv a.pinterest{
	width: 30px;
	height: 31px;
	background: url(../img/social-icons.png);
	background-position: -922px 0;
	display: block;

}
.socialdiv a.pinterest:hover{
	background: url(../img/social-icons.png);
	background-position: -922px -32px;
}
.socialdiv a.dribbble{
	width: 30px;
	height: 31px;
	background: url(../img/social-icons.png);
	background-position: -856px 0;
	display: block;

}
.socialdiv a.dribbble:hover{
	background: url(../img/social-icons.png);
	background-position: -856px -32px;
}
.logo h1{
	font-size: 24px !important;
}
