#cssmenu {
  width: 200px;
  border-style: solid solid solid solid;
  border-color: #94AA74;
  border-size: 1px;
  border-width: 1px;
}
#cssmenu ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
#cssmenu li a {
  height: 32px;
  height: 24px;
  text-decoration: none;
  font-weight: normal;
}
#cssmenu li a:link,
#cssmenu li a:visited {
  color: #5E7830;
  display: block;
  background: url(../img/menu1.gif);
  background-repeat: no-repeat;
  
}
#cssmenu li a:hover {
  color: #26370A;
  background: url(../img/menu1.gif) 0 -32px;
  background-repeat: no-repeat;
  
}
#cssmenu li a:active {
  color: #26370A;
  background: url(../img/menu1.gif) 0 -64px;
  background-repeat: no-repeat;
 
}


#subRutas {
  width: 700px;
  height:600px;
  
  border-style: solid solid solid solid;
  border-color: #94AA74;
  border-size: 1px;
  border-width: 1px;
}
