.humanismo{
	margin-right:40px
	font-weight:bolder;
	color:#666;
	font-size:14px;	
	padding-right:40px
	
}
.recentcomments a {
	display: inline !important;
	padding: 0 !important;
	margin: 0 !important;
}
</style>
<style type="text/css">
.socialdiv a[title]:hover:after {
	background: #968411 !important;
}

ul.splitter li:not (.active ) a {
	background: #154D23 !important;
}

ul.splitter li.active a {
	background: #968411 !important;
}

ul.splitter li:hover a {
	background: #968411 !important;
}

a {
	font-size: 12px;
}

p {
	font-size: 12px;
	
	word-wrap: break-word;
}

h1 {
	font-size: 12px;
}

h2 {
	font-family: 'Arial';
	font-size: 22px;
	color: #888888;
}

h3 {
	font-family: 'Arial';
	font-size: 24px;
	color: #444444;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 12px;
	color:#004700;
}

h6 {
	font-family: 'Georgia';
	font-size: 13px;
	color: #999999;
	font-style: italic;
}

.post-listing .post_type,.designare_icon,.camera_prev:hover>span,.camera_next:hover>span,.jcarousel-prev-horizontal:hover,.jcarousel-next-horizontal:hover
	{
	background-color: #968411;
}

.tagcloud a:hover,.da-thumbs li.four a div .overlay_sep,.da-animate .overlay_sep
	{
	background: #968411 !important;
}

.cameraholder,.services-graph li span,.socialdiv a[title]:hover:after {
	background: #968411;
}

.settings-open {
	background: #968411 url(img/close.png) no-repeat center center;
}

header #menulava>li.current-menu-item>a,header #menulava>li.current-menu-ancestor>a,.shortcode-team .team-box h5,.entry-breadcrumb a:hover,.shortcode-toggle.open a,.color_logo
	{
	color: #968411;
}

.blogarchive .post .the_title a:hover,.blogarchive .post .readmore a:hover,#footer_content .widget_links li a:hover,#footer_content .widget_categories li a:hover,#secondary .widget_links li a:hover,#secondary .widget_categories li a:hover,.recentposts_listing a.the_title:hover,#footer_content #recentPostsSidebar_widget .recentposts_listing a.the_title:hover,#footer_content #recentPostsSidebar_widget .recentposts_listing a.the_title:hover,#twitter_update_list li a:hover,.acc-substitute h2.current,#tabs ul.tabs li a:hover,#tabs ul.tabs li a.current,.recentPosts .post .title_date .title a:hover,a.button.none:hover,.blogarchive .post a.readmore:hover,.widget_pages li a:hover
	{
	color: #968411;
}

.filterby .projectCategories li a:hover,.filterby .projectCategories li.active a
	{
	background: #968411;
}

#tabs ul.tabs li a.current {
	border-top: 1px solid #968411;
}

.project_list_s2 .slides_container .post-thumb-s2:hover,.project_list_s2 .slides_container .post-thumb:hover
	{
	border-bottom: 1px solid #968411 !important;
}

.forms input:focus,textarea:focus {
	border: 1px solid #999 !important;
}

#flickr li:hover {
	border: 3px solid #968411;
}

header #menulava>li.current-menu-item,header #menulava>li.current-menu-ancestor
	{
	border-top: 3px solid #968411;
}

header #menulava>li:hover>a {
	color: #A39000;
}

.pricing_tab.highlight {
	border: 1px solid #968411 !important;
}

.pricing_tab.highlight .title {
	background: #968411;
}

.special_tabs .current span {
	color: #968411;
}

a.des-sc-button span {
	color: white !important;
}

.formulario{
	width:90%;
	margin-left: 40px; 
    margin-right: 40px;
	font-size:16px;
	text-align:justify;
	color:#004700;
	display: block;
	}
	
.formulario2{
	width:60%;
	margin-left: 170px; 
    margin-right: 40px;
	font-size:16px;
	text-align:justify;
	color:#004700;
	display: block;
	}
.boton{
	background:#060;
	font-weight:bolder;
	width:110px;	
	font-size:16px;
	text-align:justify;
	color:#FFF;
	display: block;
	}

.inicio{
	margin-left: 40px; 
    margin-right: 40px;
	font-size:16px;
	text-align:justify;
	color:#004700;
	display: block;
	
	}

.menusP{
	margin-left: 40px; 
    margin-right: 40px;
	font-size:18px;
	text-align:justify;
	display: block;
	color:#004700;
	}
.atributo{
  margin-left: 20px;
  color:#004700;
}
.linea1{
  margin-left: 10px;
  color:#AD9900;
}
.linea2{
  margin-left: 10px;
  color:#088500;
}
.linea3{
  margin-left: 20px;
  color:black;
}
.c{
	 border: 1px solid black;
	 
}

.parrafo{
	padding: 40px;
	font-size:16px;
	text-align:justify;
	color:#000;
	
	display: block;
	
	}
.cont{
	color:#000;
	 font-weight:bold;
	 font-size:14px;
	
	}
.dec{
	padding: 115px 20px 0px 105px;
	 font-size:14px; 
	 line-height : 23px; 
	 color: #000;
	}
