/* CSS Document */

	body{
		font-family:Verdana, Geneva, sans-serif;
		font-size:14px;
		font-weight:bolder;
		
	}
	button{
		font-family:Verdana, Geneva, sans-serif;
		font-size:14px;
		font-weight:bolder;
	}


    table {
       border:1px solid white;
       border-collapse:separate;
       border-spacing:5px;
	   font-weight:bolder;
       width:95%;
       height:auto;
	   font-size:14px;
	   text-align:center;
       /*text-align:center;	   */
       }

    th, td {
       border:1px solid white;
       padding:5px;
       }

    thead, tfoot {
		background-color:#693;
		color:#FFF;
      
       }

    tr.color {
		background-color:#CAA328;
		text-align:center;
       }
	   
	td.iz{
		text-align:left;
	 }
	 
	tr.color2 {
		background-color:#693;
		text-align:center;
    }

    caption {
		font-weight:bold;
       color:#769009;
       font-size:14px;
       padding:5px;      
     }
	 tr
	  {
		 text-align:center;
	 }
	 
	 
	 .ua tr{
		background-color:#CC6;
		text-align:center; 
	 }


