{% extends "layautl.html" %}
{% block title %}Agregar Empleados{% endblock %}
{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-auto">
            <form id="myform" action="/add_employee" enctype="multipart/form-data" method="POST">
                <h1>Agregar Empleado</h1>
                <h3>Ingresa datos del Empleado</h3>
                <label for="Nombre">Nombre(s)</label>
                <input type="text" name="Nombre" placeholder="Nombre" required>
                <label for="AP">Apellido Paternos</label>
                <input type="text" name="ApellidoP" placeholder="Apellido Paterno" required>
                <label for="AM">Apellido Materno</label>
                <input type="text" name="ApellidoM" placeholder="Apellido Materno" required>
                <label for="NoEmpleado">Numero de Empleado</label>
                <input type="text" name="NoEmpleado" placeholder="No.Empleado" required>

                <br>
                <label for="categoriaEmpleado">Tipo de Empleado:</label>

                <select class="custom-select" style="width:200px;" name="tipoEmpleado" id="tipoDeEmpleado" onclick="mostrar(this.value);"
                        required>
                    <option name="none" value="none"></option>
                    <option name="Academico" value="Academico">Academico</option>
                    <option name="Administrativo" value="Administrativo">Administrativo</option>
                </select>
                <select class="custom-select" name="tipoCategoria" id="tipoCategoria" style="display: none;">
                    <option name="Academico Tiempo completo" value="Academico Tiempo completo">Academico Tiempo
                        completo
                    </option>
                    <option name="Academico medio tiempo" value="Academico medio tiempo">Academico medio tiempo</option>
                </select>
                <select class="custom-select" name="tipoCategoriaAdmin" id="tipoCategoriaAdmin" style="display: none;">
                    <option name="sindicalizado" value="sindicalizado">sindicalizado</option>
                    <option name="NoSindicalizado" value="NoSindicalizado">NoSindicalizado</option>
                </select>
                <input type="file" class ="btn-material" name="archivosubido">
                <br>
                <br>
                <button type="submit" class="btn-material"><i class="icon-plus"></i>Crear</button>
                <button type="reset" class="btn-material"><i class="icon-history"></i>Borrar</button>
            </form>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-auto">
            {%if estatus %}
            {% if estatus == 'False'%}
            <div class="alert alert-danger alert-dismissible fade show">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Error</strong> No se pudo insetar el usuario, revise los datos ingresados
            </div>
            {% else %}
            <div class="alert alert-success alert-dismissible fade show">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Correcto</strong> El usuario se ingreso correctamente
            </div>
            {% endif %}
            {%endif%}

        </div>
    </div>
</div>

{% endblock %}