{% extends "layautl.html"%}
{% block title %}Agregar Horario{% endblock %}
{%block body%}
<div class="bloque container">

    <div class="row justify-content-center">
        <br>
        <h1>Agregar horario</h1>
        <br>

        <div class="col-lg-auto">
            <form action="/add_schedule" method="POST" enctype="multipart/form-data" target="_blank">
                <p>
                    Sube un horario:
                    <input type="file" class ="btn-material" name="archivosubido">
                    <input type="submit" value="Enviar datos">
                </p>
            </form>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-auto">
            {% if message %}
            {% if message == 'True'%}
            <div class="alert alert-success alert-dismissible fade show">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Correcto</strong> Se modifico el horario correctamente
            </div>
            {%else%}
            <div class="alert alert-danger alert-dismissible fade show">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Error</strong> No se pudo modificar el horario
            </div>

            {% endif %}
            {% endif %}


        </div>
    </div>
</div>
{% endblock %}