{% extends "layautl.html" %}
{% block title %}Agregar Empleados{% endblock %}
{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-auto">
           <h3>Bien venido</h3>


        </div>
    </div>
</div>

{% endblock %}