<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, inicial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">
    <title>{% block title %}Inicio{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/fontello.css">
    <link rel="stylesheet" href="/static/css/estilos.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="/static/js/utils.js"></script>
    <script src="/static/js/Chart.js"></script>





    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="barra-lateral col-12 col-sm-auto">
            <div class="logo">
                <img class ="logo-img"src="/static/img/logo.jpg" class="img-fluid">
            </div>
            <nav class="menu d-flex d-sm-block justify-content-center flex-wrap">
                <a href="/home"><i class="icon-home-outline"></i> <span>Inicio</span></a>
                <a href="/add_employee"><i class="icon-user-add"></i> <span>Agregar empleado</span></a>
                <a href="/show_employee"><i class="icon-search"></i> <span>Ver empleado</span></a>
                <a href="/add_schedule"><i class="icon-calendar-plus-o"></i> <span>Agregar horario</span></a>
                <a href="/show_assistance"><i class="icon-calendar"></i> <span>Ver asistencia</span></a>
            </nav>
        </div>
        <main class="main col">
            <div class="container">
                <div class="row">
                <div class="columna col-10">
                    <div class="widget nueva_entrada">
                        <div class="d-flex justify-content-center">
                            {% block body %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>