{% extends "layautl.html"%}
{% block title %}Ver Asistencia{% endblock %}
{%block body%}

<script>
    const myCanvas = document.getElementById("oilChart");
    var cart = new Chart(myCanvas,{
        type:"pie",
        data:{
            label:['vino','cerveza','tequila'],
            dataset:[{
                label: 'mi grafica',
                backgroundColor :"rgb(0,0,0)",
                data:[12,34,23,11]
            }]
        }
    })

</script>
<div class="bloque container">
    <div class="row justify-content-center">
        <div class="col-lg-auto">
            <h3>Ver Asistencia</h3>
            <br>
            <form action="/show_assistance" method="post">
                <label for="Carrera">Carrera:</label>
                <select class="custom-select" style="width:200px;" id="carrera" class="formHorario" name="Carrera">
                    <option value="ISI"><p>ISI</p></option>
                    <option value="LCI">LCI</option>
                    <option value="ITR">ITR</option>
                    <option value="LES">LES</option>
                    <option value="LCI">LCI</option>
                </select>
                <label for="Profesores">Profesores:</label>
                <select class="custom-select" style="width:200px;" id="profesor" class="formHorario" name="Profesores">
                    {% for x in list %}
                    <option value="{{ x }}" {% if loop.first %} SELECTED{% endif %}>{{ x }}</option>
                    {% endfor %}
                </select>
                <legend>Introduzca fecha de inicio y final</legend>
                <p>De:</p><input type="date" name="hora1" required/>
                <p>A:</p><input type="date" name="hora2" required>
                <br>
                <br>
                <button type="submit" class="btn-material"><i class="icon-plus"></i>Buscar</button>
                <button type="reset" class="btn-material"><i class="icon-history"></i>Borrar</button>
            </form>
            <canvas id="oilChart" width="600" height="400"></canvas>


        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-auto">
            {% if message %}
             <h1></h1>

            {%else%}
            <h1></h1>

            {% endif %}
        </div>
    </div>
</div>
{% endblock %}