{% extends "layautl.html" %}
{% block title %}Ver Empleados{% endblock %}
{% block body %}

<div class="bloque container">
    <div class="row justify-content-center">
        <div class="col-lg-auto">
            <form action="/show_employee" method="POST">
                <h1>Ver empleado</h1>
                <h3>Ingresa numero de empleado</h3>
                <input type="text" name="NoEmpleado" placeholder="No. Empleado" style="border-radius: 40px">
                <button type="submit" class="btn-material"><i class="icon-search"></i>Buscar</button>
                <button type="reset" class="btn-material"><i class="icon-trash-empty"></i> Borrar</button>
            </form>
        </div>
    </div>
    <br>
    <br>
    <div class="row justify-content-center">
        <div class="col-lg-auto">
            {% if result %}
            {% set link = result['code'] -%}
            {% set ids = result -%}
            {% set link2 = '/static/img/'+link+'.jpg'%}
            <div class="detalle card" style="width: 18rem;">
                <img class="img-profile card-img-top" src= {{link2}} alt="Card image cap">
                <div class="card-body">
                    <h1>{{result.code}}</h1>
                    <table class="table table-hover">
                        {% for key, value in result.items() %}
                        <tr>
                            <th> {{ key }}</th>
                            <td> {{ value }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-auto">
                        <button type="submit" class="btn-material"><a style="color: white"  href="/edit_employe/{{result['code']}}" ><i class="icon-edit"></i><span>Editar</span></a></button>
                        <button type="submit" class="btn-material"><a style="color: white" href="/del_employe/{{result['code']}}"><i class="icon-trash-empty"></i><span>Eliminar</span></a></button>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if message %}
            {% if message ==True %}

            <div class="alert alert-success alert-dismissible fade show">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Succes: </strong> El registro se modifico correctamente
            </div>
            {%else%}
            <div class="alert alert-danger alert-dismissible fade show">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Error: </strong> NO se pudo modificar el registro, intente mas tarde.
            </div>

            {%endif%}
            {%endif%}

            {% if delete %}
            {% if delete==True %}
            <div class="alert alert-success alert-dismissible fade show">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Corecto: </strong> Registro eliminado correctamente
            </div>
            {% else %}
            <div class="alert alert-danger alert-dismissible fade show">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Error: </strong> No se puedo eliminar el registro, intente mas tarde
            </div>

            {%endif%}
            {%endif%}

        </div>
    </div>
</div>
{% endblock %}